
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503976988596'); /* IE9*/
  src: url('iconfont.eot?t=1503976988596#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503976988596') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503976988596') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503976988596#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-20150825tubiaolianxizhuanhuan03:before { content: "\e60b"; }

.icon-expression:before { content: "\e78c"; }

.icon-food:before { content: "\e7b8"; }

.icon-phone:before { content: "\e7c7"; }

.icon-faxian:before { content: "\e60c"; }

.icon-weixin:before { content: "\e6a0"; }

.icon-tongxunlu:before { content: "\e6a1"; }

.icon-dianshiju:before { content: "\e620"; }

.icon-faxian1:before { content: "\e660"; }

